

<p-dialog header="Header" [(visible)]="visibleEdit" [style]="{ width: '50vw' }">
    <div class="flex py-2 justify-content-center">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <!-- First Name -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingFirstName" placeholder="First Name"
            formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          <label for="floatingFirstName">{{ 'company.user.editform.firstname' | translate }}</label>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">{{ 'company.user.editform.errormessages.invalidfirstname' | translate }}</div>
          </div>
        </div>
        <!-- Last Name -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingLastName" placeholder="Last Name" formControlName="lastName"
            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          <label for="floatingLastName">{{ 'company.user.editform.lastname' | translate }}</label>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">{{ 'company.user.editform.errormessages.invalidlastname' | translate }}</div>
          </div>
        </div>
        <!-- Email -->
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingEmail" placeholder="Email" formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <label for="floatingEmail">{{ 'company.user.editform.email' | translate }}</label>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.email">{{ 'company.user.editform.errormessages.invalidemail' | translate }}</div>
          </div>
        </div>
        <!-- Identification -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingIdentification" placeholder="Identification"
            formControlName="identification" [ngClass]="{ 'is-invalid': submitted && f.identification.errors }" />
          <label for="floatingIdentification">{{ 'company.user.editform.identification' | translate }}</label>
          <div *ngIf="submitted && f.identification.errors" class="invalid-feedback">
            <div *ngIf="f.identification.errors.required">{{ 'company.user.editform.errormessages.invalididentification' | translate }}
            </div>
          </div>
        </div>
  
        <div class="d-grid">
          <button class="btn btn-lg btn-primary btn-register-user text-uppercase fw-bold mb-2" type="submit">{{
            'company.user.editform.btncreate' | translate }}</button>
        </div>
      </form>
  
    </div>
  
  </p-dialog>