<div class="container">

    <h1> {{ 'company.reward.componenttitle' | translate }}</h1>
    <!--p-button (click)="showDialogAddReward()" icon="pi pi-external-link" label="Add reward"></p-button-->
    <button *ngIf="showAddList" (click)="showAddRewardForm()" class="btn btn-primary">
        <i class="pi pi-external-link"></i> {{ 'company.reward.btnaddreward' | translate }}
    </button>
    <button *ngIf="!showAddList" (click)="showAddRewardList()" class="btn btn-primary">
        <i class="pi pi-external-link"></i> {{ 'company.reward.btnreturn' | translate }}
    </button>
  
      <app-add-reward-management *ngIf="showAddForm" (rewardCreated)="rewardCreated($event)"></app-add-reward-management>
      <app-list-reward-management *ngIf="!showAddForm"></app-list-reward-management>
      
</div>

<!--app-add-reward-management [visibleAdd]="showDialogAdd" (rewardCreated)="rewardCreated($event)"></app-add-reward-management-->
